// app global css

@import '~variables'

.form-card
  max-width 1000px
  margin 30px auto

.form-card
  .q-if, .q-field, .q-uploader
    margin 16px 0
  .q-field, .q-uploader
    .q-if
      margin 0
  .q-field .q-uploader
    margin 0
  .caption:not(:first-child)
    margin-top 40px
